.App {
  text-align: center;
}

#homeImage {
  position: absolute;
  width: 100%;
}

#NavBar *, #rsvp-button {
  background-color: #443022;
}

:not(.navbaritem) {
  background-color: #F6F5ED;
}

.hotel-card, a.hotel-card {
  /* background-color: rgb(136, 27, 8) !important; */
  /* background-color: rgb(24, 133, 33) !important; */
  /* background-color: rgb(0, 90, 44) !important; */
  background-color: #F6F5ED !important;
  /* color: rgb(43, 41, 41) !important; */
  color: rgb(0, 90, 44) !important;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
  margin-right: 0 !important;
}

.ui.large.header, .ui.medium.header, .ui.huge.header {
  color: rgb(0, 90, 44) !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

#message-card {
  position: fixed;
  top: 29%;
  left: 40%;
  z-index: 1;
  background-color: rgb(32, 0, 90) !important;
}

#message-header, #message-header *, #message-description, #message-description * {
  color: white !important;
  background-color: rgb(32, 0, 90) !important;
}
