.App {
  text-align: center;
}

#homeImage {
  position: absolute;
  width: 100%;
}

:not(.navbaritem) {
  background-color: #F6F5ED;
}

.hotel-card {
  background-color: rgb(143, 116, 179) !important;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
  margin-right: 0 !important;
}